body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(142, 142, 142); 
}

#Contenedor {
    text-align: center;
}

#SiBtn, #NoBtn {
    font-size: 24px;
    color: rgb(43, 43, 43);
    padding: 10px 30px;
    background-color: rgb(240, 239, 239);
    margin: 10px;
    cursor: pointer;
    border-radius: 10px; 
}

#resetBtn {
    display: none;
    font-size: 28px;
    color: rgb(43, 43, 43);
    padding: 10px 20px;
    background-color: rgb(240, 239, 239);
    margin: 10px auto;
    cursor: pointer;
    border-radius: 10px; 
}


#resetBtn:hover {
    background-color: rgb(43, 43, 43);
    color: rgb(240, 239, 239);
}

#SiBtn:hover, #NoBtn:hover {
    background-color: rgb(43, 43, 43);
    color: rgb(240, 239, 239);
}

#Mensajito {
    display: none;
    font-size: 32px;
    color: rgb(43, 43, 43);
    margin-top: 20px;
}

#Imagen {
    display: block;
    margin: 10px auto; 
    max-width: 100%;
    max-height: 200px; 
    border: 5px solid rgb(43, 43, 43);
    border-radius: 12px;
}

h1 {
    color: rgb(240, 239, 239);
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: rgb(43, 43, 43);
}

footer {
    text-align: center;
    background-color: rgb(43, 43, 43);
    padding: 10px;
}

footer h3 {
    margin: 0;
    color: rgb(240, 239, 239);
}
